# Ignore everything
*

# Don't ignore classes
!classes/
!results/
!results/*

# Don't ignore models
!models/
!models/*
models/vgg16_weights.h5
!exps/
!exps/*
!exps/*/*
# Don't ignore .gitignore
!.gitignore

# Now exclude our type
!*.py
!*.md
!*.jpg
!*.m
!*.txt
!*.prototxt
!*.npy
